version: "3.9"
services:
  backend:
    build:
      dockerfile: ./docker/pnpm-dev/Dockerfile
      target: backend
    environment:
      - PGHOST=db
      - PGUSER=yaltt
      - PGPASSWORD=password
      - PGDATABASE=yaltt
      - PGPORT=5432
      - REDIS_HOST=redis
      - ADMIN_USER=admin
      - ADMIN_PASSWORD=password
      - DOCS_ROOT=/app/packages/docs/build
    volumes:
      - ./:/app
      - /app/node_modules
      - /app/packages/backend/node_modules
      - /app/packages/canvas-lti-model/node_modules
      - /app/packages/frontend/node_modules
      - /app/packages/lti-model/node_modules
      - /app/packages/endpoint-ts/node_modules
      - /app/packages/model/node_modules
      - /app/result
    command:
      - bash
      - ./scripts/start-backend.sh
    working_dir: /app
    depends_on:
      - db

  frontend:
    build:
      dockerfile: ./docker/pnpm-dev/Dockerfile
      target: frontend
    ports:
      - "5173:80"
    volumes:
      - ./:/app
      - /app/node_modules
      - /app/packages/backend/node_modules
      - /app/packages/canvas-lti-model/node_modules
      - /app/packages/frontend/node_modules
      - /app/packages/lti-model/node_modules
      - /app/packages/endpoint-ts/node_modules
      - /app/packages/model/node_modules
      - /app/result
    command:
      - bash
      - ./scripts/start-frontend.sh
    working_dir: /app

  db:
    build: ./docker/db
    environment:
      - POSTGRES_USER=yaltt
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=yaltt
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: {}
